data "aws_caller_identity" "current" {}

locals {
  aliases = {{ use_custom_domain }} and "{{ root_domain }}" != "" ? [
    "{{ root_domain }}",
    "www.{{ root_domain }}"
  ] : []

  name_prefix = "{{ project_name }}-{{ environment }}"

  common_tags = {
    Project     = "{{ project_name }}"
    Environment = "{{ environment }}"
    ManagedBy   = "terraform"
  }
}
